@page "/addevent"
@inject IJSRuntime JSRuntime

@code{
    bool strengthVisible = false;
    bool lossesVisible = false;
}

@if (Event == null)
{
    <h4>Loading...</h4>
}
else
{
    <div id="details">
        <div class="container">
            <MatButton>Test</MatButton>

            <EditForm Model="@Event" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                <div class="row">
                    <div id="overview" class="col-md-5 border rounded overflow-auto">
                        <div class="form-group">
                            <label asp-for="title">Title</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <i class="input-group-text fa fa-star"></i>
                                </div>
                                <input id="title" @bind="Event.Title" class="form-control" placeholder="Title" />
                            </div>
                            <div><ValidationMessage class="text-danger" For="@(() => Event.Title)" /></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label id="startDate">Start</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="input-group-text fa fa-calendar"></i>
                                    </div>
                                    <input id="startDate" @bind="Event.Start" class="form-control" placeholder="Start" />
                                </div>
                                <div><ValidationMessage class="text-danger" For="@(() => Event.Start)" /></div>
                            </div>
                            <div class="form-group col">
                                <label id="endDate">End</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="input-group-text fa fa-calendar"></i>
                                    </div>
                                    <input id="endDate" @bind="Event.End" class="form-control" placeholder="End" />
                                </div>
                                <div><ValidationMessage class="text-danger" For="@(() => Event.End)" /></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="result">Result</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <i class="input-group-text fa fa-gavel"></i>
                                </div>
                                <input id="result" @bind="Event.Result" class="form-control" placeholder="Ex. Axis victory" />
                            </div>
                            <div><ValidationMessage class="text-danger" For="@(() => Event.Result)" /></div>
                        </div>
                        <hr>

                        <div class="location">
                            <div class="form-group">
                                <label id="locationName">Location name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="input-group-text fa fa-map"></i>
                                    </div>
                                    <input id="locationName" @bind="Event.Location.Name" class="form-control" placeholder="Stalingrad" />
                                </div>
                                <div><ValidationMessage class="text-danger" For="@(() => Event.Location.Name)" /></div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col">
                                    <label id="locationLat">Latitude</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <i class="input-group-text fa fa-map-marker"></i>
                                        </div>
                                        <input id="locationLat" @bind="Event.Location.Lat" class="form-control" placeholder="51.1657" />
                                    </div>
                                    <div><ValidationMessage class="text-danger" For="@(() => Event.Location.Lat)" /></div>
                                </div>
                                <div class="form-group col">
                                    <label id="locationLong">Longitude</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <i class="input-group-text fa fa-map-marker"></i>
                                        </div>
                                        <input id="locationLong" @bind="Event.Location.Long" class="form-control" placeholder="10.4515" />
                                    </div>
                                    <div><ValidationMessage class="text-danger" For="@(() => Event.Location.Long)" /></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div id="belligerents" class="col-md-5 border rounded overflow-auto">
                        <h4>Belligerents</h4>
                        <button @onclick="AddParticipant" class="btn btn-primary mx-auto d-block my-2">Add</button>

                        <div class="form-row text-center">
                            @foreach (var item in Event.Participants)
                            {
                                <div class="col border">
                                    <div class="form-group">
                                        <label id="participantName">Belligerent</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <i class="input-group-text fa fa-flag"></i>
                                            </div>
                                            <input id="participantName" @bind="item.Name" class="form-control" placeholder="Ex. Germany" />

                                        </div>
                                        <div><ValidationMessage class="text-danger" For="@(() => item.Name)" /></div>
                                    </div>
                                    <div>
                                        <UnitList Units="@item.Strength.Assets"></UnitList>
                                    </div>

                                    @*<div class="form-group">
                                    <label id="strength">Strength</label>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Type</th>
                                                <th scope="col">Condition</th>
                                                <th scope="col">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var asset in item.Strength.Assets)
                                            {
                                                <tr>
                                                    <td>@asset.Classification</td>
                                                    <td>@asset.Condition</td>
                                                    <td>@asset.Amount</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <button @onclick="() => AddAsset(item.Id)" class="btn btn-primary mx-auto d-block">Add new</button>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Strength">Losses</label>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Type</th>
                                                <th scope="col">Condition</th>
                                                <th scope="col">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var loss in item.Losses.Losses)
                                            {
                                                <tr>
                                                    <td>@loss.Classification</td>
                                                    <td>@loss.Condition</td>
                                                    <td>@loss.Amount</td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                    <button @onclick="AddLoss" class="btn btn-primary mx-auto d-block">Add new</button>
                                </div>*@
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="border col-md-10 text-center">
                        <div class="form-group">
                            <label id="description">description</label>
                            <div class="input-group">
                                <textarea id="description" @bind="Event.Description" type="text" asp-for="title" class="form-control" placeholder="the battle of stalingrad was..." />
                            </div>
                            <div><ValidationMessage class="text-danger" For="@(() => Event.Description)" /></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="border col-md-10 text-center">
                        <input type="submit" value="Submit Entry" class="btn btn-primary my-2">
                    </div>
                </div>
            </EditForm>
        </div>

    </div>
}

<AddUnitAssetDialog @ref="AddUnitAssetDialog" AddAssetEventCallback="@AddUnitAssetDialog_OnAssetAdded" CloseEventCallback="@AddUnitAssetDialog_OnDialogClose"></AddUnitAssetDialog>