@model EventCreateViewModel
@{
//ViewData["Title"] = "Home Page";
}

<div id="details">
    <div class="container">
        <form asp-controller="Event" asp-action="Create" method="post">
        <div class="row">
            <div class="col-md-5 border rounded">
                <div class="form-group">
                    <label asp-for="@Model.Title">Title</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-star"></i>
                        </div>
                        <input asp-for="@Model.Title" class="form-control" placeholder="Title" />
                    </div>
                    <div><span asp-validation-for="@Model.Title" class="text-danger"></span></div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="@Model.Start">Start</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="input-group-text fa fa-calendar"></i>
                            </div>
                            <input asp-for="@Model.Start" class="form-control" placeholder="Start" />
                        </div>
                        <div><span asp-validation-for="@Model.Start" class="text-danger"></span></div>
                    </div>
                    <div class="form-group col">
                        <label asp-for="@Model.Start">End</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="input-group-text fa fa-calendar"></i>
                            </div>
                            <input asp-for="@Model.End" class="form-control" placeholder="End" />
                        </div>
                        <div><span asp-validation-for="@Model.End" class="text-danger"></span></div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Result">Result</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-gavel"></i>
                        </div>
                        <input asp-for="@Model.Result" class="form-control" placeholder="Ex. Axis victory" />
                    </div>
                    <div><span asp-validation-for="@Model.Result" class="text-danger"></span></div>
                </div>
                <hr>

                <div class="location">
                    <div class="form-group">
                        <label asp-for="@Model.Location.Name">Location name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="input-group-text fa fa-map"></i>
                            </div>
                            <input asp-for="@Model.Location.Name" class="form-control" placeholder="Stalingrad" />
                        </div>
                        <div><span asp-validation-for="@Model.Location.Name" class="text-danger"></span></div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="@Model.Location.Lat">Latitude</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <i class="input-group-text fa fa-map-marker"></i>
                                </div>
                                <input asp-for="@Model.Location.Lat" class="form-control" placeholder="Ex: +48.7080" />
                            </div>
                            <div><span asp-validation-for="@Model.Location.Lat" class="text-danger"></span></div>
                        </div>
                        <div class="form-group col">
                            <label asp-for="@Model.Location.Long">Longitude</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <i class="input-group-text fa fa-map-marker"></i>
                                </div>
                                <input asp-for="@Model.Location.Long" class="form-control" placeholder="Ex: +44.5133" />
                            </div>
                            <div><span asp-validation-for="@Model.Location.Long" class="text-danger"></span></div>
                        </div>
                    </div>
                </div>
                <hr>
                <h4>Belligerents</h4>
                <div class="form-row">
                    @for (int i = 0; i < Model.Participants.Count; i++)
                    {
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="@Model.Participants[i].Name">Belligerent</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="input-group-text fa fa-flag"></i>
                                    </div>
                                    <input asp-for="@Model.Participants[i].Name" class="form-control" placeholder="Ex. Germany" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Participants[i].Strength">Strength</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="input-group-text fa fa-bolt"></i>
                                    </div>
                                    <input asp-for="@Model.Participants[i].Strength" class="form-control" placeholder="Ex. 200,000" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Participants[i].Strength">Losses</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="input-group-text fa fa-times"></i>
                                    </div>
                                    <input asp-for="@Model.Participants[i].Strength" class="form-control" placeholder="Ex. 200,000" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-5 border rounded">
                <div class="form-group">
                    <label asp-for="Title">Description</label>
                    <div class="input-group">
                        <textarea type="text" asp-for="Title" class="form-control" placeholder="The battle of stalingrad was..." /></textarea>
                    </div>
                    <div><span asp-validation-for="Title" class="text-danger"></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="border col-md-10 text-center">
                <input type="submit" value="Submit Entry" class="btn btn-primary my-2">
            </div>
        </div>
        </form>
    </div>

</div>