@if (ShowDialog)
{
	<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="titleLabel">Asset Quick Add</h5>
					<button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				@if (_units == null || _conditions == null)
				{
					<h4>Loading...</h4>
				}
				else
				{

					<div class="modal-body">

                        <EditForm Model="@Asset" OnValidSubmit="@HandleValidSubmit">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="form-group">
                                <label for="amount">Amount: </label>
                                <InputNumber id="amount" class="form-control" @bind-Value="@Asset.Amount" placeholder="Enter amount"></InputNumber>
                                <ValidationMessage For="@(() => Asset.Amount)" />
                            </div>

                            <div class="form-group">
                                <label for="classification">Unit</label>
                                <BlazoredTypeahead Context="TypeHeadContext" SearchMethod="SearchClassifications" @bind-Value="_selectedUnit">
                                    <SelectedTemplate>
                                        @TypeHeadContext.Name
                                    </SelectedTemplate>
                                    <ResultTemplate>
                                        @TypeHeadContext.Name (@TypeHeadContext.UnitId)
                                    </ResultTemplate>
                                    <NotFoundTemplate>
                                        <button class="btn btn-sm btn-primary" @onclick="@CreateUnit">Create Unit</button>
                                    </NotFoundTemplate>
                                </BlazoredTypeahead>
                            </div>

                            @if (Asset.AssetType == AssetType.Loss)
                            {
                            <div class="form-group">
                                <label for="condition">Condition: </label>
                                <select id="classification" class="form-control" @bind="@Asset.ConditionId">
                                    @foreach (var item in _conditions)
                                    {
                                        <option value="@item.ConditionId">@item.Name</option>
                                    }
                                </select>
                                <ValidationMessage For="@(() => Asset.Condition)" />
                            </div>
                            }


                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                        </EditForm>

					</div>
				}
				</div>
		</div>
	</div>
}


