<div class="unit-component">
    <div class="side-selection border-bottom py-1 px-3">
        <div class="btn-group w-100" role="group">
            <button @onclick="@(e => SetAlliance(_alliesAlliance))" type="button" class="btn btn-secondary btn-sm @(((Alliance == _alliesAlliance)) ? "active" : "")">Allies</button>
            <button @onclick="@(e => SetAlliance(_axisAlliance))" type="button" class="btn btn-secondary btn-sm @(((Alliance == _axisAlliance)) ? "active" : "")">Axis</button>
        </div>
    </div>
    <div class="input-group input-group-sm my-1 px-3">
        <InputSelect @onfocusout="@(e => SetNation())" id="classification" class="form-control" @bind-Value="@Belligerent.NationIdString">
            @if (_alliedNations == null || _axisNations == null)
            {
            <h6>Loading...</h6>
            }
            else
            {
                @if (Alliance == _alliesAlliance)
                {

                    @foreach (var item in _alliedNations)
                    {
                        <option value="@item.NationId">@item.Name</option>
                    }
                }
                else if (Alliance == _axisAlliance)
                {
                    @foreach (var item in _axisNations)
                    {
                        <option value="@item.NationId">@item.Name</option>
                    }
                }
            }
        </InputSelect>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <span class="d-inline-block align-middle">Strength</span>
        </div>
        <div class="col-md-6 text-center">
            <button @onclick="@(e => AddAsset(AssetType.Strength))" type="button" class="btn btn-success btn-circle">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="col mx-3 my-1">
            @if (Belligerent.Assets.Where(i => i.AssetType == AssetType.Strength).ToList() == null)
            {
                <h6>Loading...</h6>
            }
            else
            {
                @foreach (var item in Belligerent.Assets.Where(i => i.AssetType == AssetType.Strength).ToList())
                {
                    @item.Amount
                    @:&nbsp;
                    @if (item.Classification != null)
                    {
                        @item.Classification.Singular
                    }
                    @:&nbsp;
                    @if (item.Organization != null)
                    {
                        @item.Organization.Singular
                    }
                    @:&nbsp;
                    <button @onclick="@(e => DeleteAsset(item.AssetId))" type="button" class="btn btn-danger btn-circle">
                        <i class="fa fa-times"></i>
                    </button>
                    <br>
                }
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <span class="d-inline-block align-middle">Losses</span>
        </div>
        <div class="col-md-6 text-center">
            <button @onclick="@(e => AddAsset(AssetType.Loss))" type="button" class="btn btn-success btn-circle">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="col mx-3 my-1">
            @if (Belligerent.Assets.Where(i => i.AssetType == AssetType.Loss).ToList() == null)
            {
                <h6>Loading...</h6>
            }
            else
            {
                @foreach (var item in Belligerent.Assets.Where(i => i.AssetType == AssetType.Loss).ToList())
                {
                    @item.Amount
                    @:&nbsp;
                    @if (item.Classification != null)
                    {
                        @item.Classification.Singular
                    }
                    @:&nbsp;
                    @if (item.Organization != null)
                    {
                        @item.Organization.Singular
                    }
                    @:&nbsp;
                    <button @onclick="@(e => DeleteAsset(item.AssetId))" type="button" class="btn btn-danger btn-circle">
                        <i class="fa fa-times"></i>
                    </button>
                    <br>
                }
            }

        </div>
    </div>
</div>
<wikibellum.Client.Components.AddUnitAssetDialog @ref="Dialog" AddAssetEventCallback="@AddUnitAssetDialog_OnAssetAdded" CloseEventCallback="@AddUnitAssetDialog_OnDialogClose"></wikibellum.Client.Components.AddUnitAssetDialog>
<style>
    .unit-component {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 1rem;
        background: #e1e1e1
    }

        .unit-component span {
            font-weight: bold;
        }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 0px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: 1000;
        line-height: 1.42857;
    }
</style>