<div class="col-md-4 border overflow-auto">
    @if (_currentEvent == null)
    {
        <p>Click map marker to view details</p>
    }
    else
    {
        <div class="rubric">
            <div id="basic" class="text-center">
                <div class="row">
                    <div id="title" class="col">
                        @_currentEvent.Title
                    </div>
                </div>
                <div class="row">
                    <div id="location " class="col">
                        @_currentEvent.Location.Name
                    </div>
                </div>
                <div class="row">
                    <div id="duration " class="col">
                        @_currentEvent.Start.ToString(DateFormat) – @_currentEvent.End.ToString(DateFormat)
                    </div>
                </div>
            </div>
            <div id="result">
                <div class="row">
                    <div class="col header">
                        Result
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul>
                            @foreach (var item in _currentEvent.Results.Where(i => !String.IsNullOrWhiteSpace(i.Description)))
                            {
                                <li>@item.Description</li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <div id="belligerents">
                <div class="row">
                    <div class="col header">
                        Belligerents
                    </div>
                </div>
                @foreach (var item in _currentEvent.Participants)
                {
                    <div class="belligerent">
                        <div class="row">
                            <div class="col text-center">
                                @item.Nation.Name.ToString()
                            </div>
                        </div>
                        <div class="row assets no-gutters">
                            <div class="col">
                                <div class="strength h-100">
                                    <h6>Strength</h6>
                                    <ul>
                                        @foreach (var asset in item.Assets.Where(a => a.AssetType == AssetType.Strength))
                                        {
                                            <li>@(asset.Amount + " " + asset.Classification.FullName)</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="losses h-100">
                                    <h6>Losses</h6>
                                    <ul>
                                        @foreach (var asset in item.Assets.Where(a => a.AssetType == AssetType.Loss))
                                        {
                                        <li>@(asset.Amount + " " + asset.Classification.FullName + " " + asset.Condition.Name)</li>
                                        }
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
</div>


<style>
    .rubric {
        height: 500px;
    }

        .rubric #basic {
            font-weight: 600;
            font-size: 1.1rem;
        }

        .rubric .row {
            margin-top: 0.3rem;
        }

    #title {
        background: #F05D5E;
    }

    #result {
        margin-top: 0.5rem;
    }

    .header {
        text-align: center;
        background: #EEF5DB;
        font-weight: 600;
        font-size: 1.1rem;
    }

    #belligerents h6 {
        text-align: center;
    }

    #belligerents .assets {
        font-size: 1rem;
    }


    .strength {
        background: #B8D8BA;
    }

    .losses {
        background: #F4998D;
    }

    .belligerent {
        margin-top: 0.4rem;
        border-top: 1px dotted black;
        border-bottom: 1px dotted black;
    }
</style>