@typeparam T

<div class="row">
    <div class="col-md-6 text-center">
        <span class="d-inline-block align-middle">@typeof(T).Name</span>
    </div>
    <div class="col-md-6 text-center">
        <button @onclick="@AddAsset" class="btn btn-primary w-100 btn-sm">Add</button>
    </div>
    <div class="unit-data">
        <div class="unit-data-header">
            <div class="row bg-info">
                <div class="col">Item</div>
                @*<div class="col">Condition</div>
                <div class="col">Amount</div>*@
            </div>
        </div>
        <div class="unit-data-body">
            @foreach (var item in Assets)
            {
                <div class="row">
                    <div class="col">@item</div>
                    @*<div class="col">@item.Condition</div>
                    <div class="col">@item.Amount</div>*@
                </div>
            }
        </div>
    </div>
</div>

<wikibellum.App.Components.Belligerents.AddUnitAssetDialog @ref="Dialog" AddAssetEventCallback="@AddUnitAssetDialog_OnAssetAdded" CloseEventCallback="@AddUnitAssetDialog_OnDialogClose"></wikibellum.App.Components.Belligerents.AddUnitAssetDialog>